*
{
    padding:0;
    margin:0;
}
body
{
    background-image: linear-gradient(90deg, #6b0404, #8b1515, #6b0404);
}
body main 
{
    display: flex;
    font-family: 'Rubik', sans-serif;
    width: auto;
}
body main .cards
{
    
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
main .bot-cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width:45vw;
    height: 230px;
    margin-top: 1rem;
}
.girar
{
    transform: rotateY(180deg);
}
main .bot-cards .card
{
    height: 100%;
    background-color: khaki;
    border-radius: 15px;
    border: 5px solid #40ffb6;
    box-shadow: 5px 5px 10px #000;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transform-style: preserve-3d;
    transition: all ease 0.5s
}
main .player-cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 45vw;
    height: 230px;
    margin-top: 3rem;
}
main .player-cards .card
{
    height: 100%;
    background-color: rgb(158, 140, 240);
    border-radius: 15px;
    border: 5px solid #40ffb6;
    box-shadow: 5px 5px 10px #000;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
main aside
{
    margin-top: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main aside h2
{
    text-align: center;
    font-size: 40px;
}
main aside .scoreBot
{
    width: 60%;
    line-height: 3rem;
    border-radius: 10px;
    background-color: rgb(240, 232, 128);
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
}
main aside .scorePlayer
{
    width: 60%;
    line-height: 3rem;
    border-radius: 10px;
    background-color: rgb(167, 128, 240);
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
}
main aside .decision
{
    width: 60%;
    margin: 1rem 0;
    background-color: thistle;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

/*RESPONSIVE -----------------------*/

@media (max-width:500px)
{
    body
    {
        width: 100vw;
    }
    body main
    {
        flex-direction: column-reverse;
        width: 100vw;
        margin: auto;
        align-items: center;
        
    }
    body main .cards
    {
        width:100vw;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    main .bot-cards
    {
        height: 20vh;
        width: 90vw;
    }
    main .player-cards
    {
        height: 20vh;
        width: 90vw;
    }
    main aside
    {
        margin-top: 0.5rem;
        width: 90vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 15px;
    }
    main aside .scoreBot
    {
        width: 80vw;
    }
    main aside .scorePlayer
    {   
        width:80vw;
    }
    main aside .decision
    {
        width:80vw;
        height: 45px;
    }


}